@model PizzeriaS7.Models.Prodotto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Prodotto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class="col-sm-2">
            Foto
        </dt>
        <dd class="col-sm-10">
            @if (Model.Immagini != null && Model.Immagini.Any())
            {
                <img src="@Model.Immagini.First().ImmagineUrl" alt="Immagine del prodotto" style="max-width: 200px;" />
            }
            else
            {
                <span>No image available</span>
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prezzo) &euro;
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TempoConsegna)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TempoConsegna) minuti
        </dd>

        <dt class="col-sm-2">
            Ingredienti
        </dt>
        <dd class="col-sm-10">
            @if (Model.Ingredienti != null && Model.Ingredienti.Any())
            {
                <ul>
                    @foreach (var ingrediente in Model.Ingredienti)
                    {
                        <li>@ingrediente.Nome</li>
                    }
                </ul>
            }
            else
            {
                <span>No ingredients available</span>
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
