@model PizzeriaS7.Models.Prodotto

@{
    ViewData["Title"] = "Details";
}

<h1 class="display-4">Details Admin</h1>

<div class="card mt-4">
    <div class="card-header">
        <h4 class="card-title">Prodotto Details</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt class="col-sm-3">
                Foto
            </dt>
            <dd class="col-sm-9">
                @if (Model.Immagini != null && Model.Immagini.Any())
                {
                    @foreach (var immagine in Model.Immagini)
                    {
                        <img src="@immagine.ImmagineUrl" alt="Immagine del prodotto" class="img-fluid rounded" style="max-width: 200px; margin-bottom: 10px;" />
                    }
                }
                else
                {
                    <span class="text-muted">No image available</span>
                }
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Prezzo)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Prezzo) &euro;
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.TempoConsegna)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.TempoConsegna) minuti
            </dd>

            <dt class="col-sm-3">
                Ingredienti
            </dt>
            <dd class="col-sm-9">
                @if (Model.Ingredienti != null && Model.Ingredienti.Any())
                {
                    <ul class="list-group">
                        @foreach (var ingrediente in Model.Ingredienti)
                        {
                            <li class="list-group-item">@ingrediente.Nome</li>
                        }
                    </ul>
                }
                else
                {
                    <span class="text-muted">No ingredients available</span>
                }
            </dd>
        </dl>
    </div>
    <div class="card-footer text-end">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
