@model IEnumerable<Camera>

@{
    ViewData["Title"] = "Camere";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Aggiungi Nuova Camera</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Descrizione</th>
            <th>Tipologia</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Numero</td>
                <td>@item.Descrizione</td>
                <td>@item.Tipologia</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Modifica</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Dettagli</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Elimina</a>
                </td>
            </tr>
        }
    </tbody>
</table>

