@model IEnumerable<Prenotazione>

@{
    ViewData["Title"] = "Risultati Prenotazione";
}

<h1>Risultati Prenotazione</h1>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Codice Fiscale</th>
            <th class="text-center">Numero Camera</th>
            <th>Data Prenotazione</th>
            <th>Inizio Soggiorno</th>
            <th>Fine Soggiorno</th>
            <th class="text-center">Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prenotazione in Model)
        {
            <tr>
                <td>@prenotazione.CodiceFiscale</td>
                <td class="text-center">@prenotazione.Camera.Numero</td>
                <td>@prenotazione.DataPrenotazione.ToShortDateString()</td>
                <td>@prenotazione.PeriodoDal.ToShortDateString()</td>
                <td>@prenotazione.PeriodoAl.ToShortDateString()</td>
                <td class="text-center">
                    <a asp-action="AggiungiServizioAggiuntivo" asp-route-prenotazioneId="@prenotazione.Id" class="btn btn-primary btn-sm mb-1">Aggiungi Servizio Aggiuntivo</a>
                    <a asp-action="ListaServiziAggiuntivi" asp-route-prenotazioneId="@prenotazione.Id" class="btn btn-secondary btn-sm">Visualizza Servizi Aggiuntivi</a>
                </td>
            </tr>
        }
    </tbody>
</table>